/*
================================================
fonts ------------------------------------- toc1
main style -------------------------------- toc2
header ------------------------------------ toc3
intro ------------------------------------- toc4
column ------------------------------------ toc5
features ---------------------------------- toc6
form-title -------------------------------- toc7
form -------------------------------------- toc8
map --------------------------------------- toc9
footer ----------------------------------- toc10
filters ---------------------------------- toc11
ranking ---------------------------------- toc12
hotels ----------------------------------- toc13
================================================
*/

/*
================================================

FONTS ------------------------------------- toc1

================================================
*/

@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */


/*
================================================

MAIN STYLE -------------------------------- toc2

================================================
*/
html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #f2f2f2;

    font-family: "PT Sans", sans-serif;
    color: #000000;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.cf:after,
.row:after,
.container:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    text-decoration: none;
    font-weight: bold;
}

.page-wrapper>.container {
    box-shadow: 0 0 15px rgba(0,1,1,0.2);
}


/*
================================================

HEADER ------------------------------------ toc3

================================================
*/
.main-navigation {
    position: relative;
}

.main-navigation li {
    width: 20%;
    text-align: center;
    float:left;
    min-height: 1px;
}

.main-navigation a {
    display: block;

    margin: 0;

    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.main-navigation .logo {
    position: absolute;
    left: 50%;
    margin-left: -68.9985px;
}

.main-navigation a:not(.logo) {
    padding-top: 15px;
    margin-bottom: 16px;
}

.main-navigation a:not(.logo):hover {
    color: #81b3d2;
}

.main-navigation a:not(.logo):active {
    color: #766357;
}


/*
================================================

INTRO ------------------------------------- toc4

================================================
*/
.intro {
    background-color: #d7e8f2;
    background-image: url("../img/bcg.jpg");
    background-size: cover;
    background-position: center 65%;

    text-align: center;

    padding-top: 76px;
    margin-bottom: 52px;
}

.intro img {
    margin-bottom: 80px;
}

.subtitle {
    background-color: #ffffff;
}

/*Подключить белую фигуру.Как?*/
.subtitle:before {
    background-image: url("../img/white-shape.svg");
}

.subtitle h2 {
    padding-top: 55px;
    margin-bottom: 27px; /*34px*/
}


/*
================================================

COLUMN ------------------------------------ toc5

================================================
*/
.col-one-third,
.col-two-thirds {
    float: left;
}

.col-one-third {
    width: 33.333%;
    text-align: center;
}

.col-two-thirds {
    width: 66.666%;
}


/*
================================================

FEATURES ---------------------------------- toc6

================================================
*/

.features span {
    display: inline-block;
}

.features .number,
.features p {
    font-style: 14px;
    line-height: 21px;
}

/*.features p {
    padding-bottom: 15px;
}*/

/*
    =============================
    PHOTO -----------------------
    =============================
*/
.col-two-thirds .photo {
    min-height: 256px;
}

.photo.photo-1 {
    background-image: url("../img/feat-photo-motel.jpg");
}

.photo.photo-2 {
    background-image: url("../img/feat-photo-bridge.jpg");
}

.photo.photo-1,
.photo.photo-2 {
    background-size: cover;
    background-position: center center;
}


/*
    =============================
    FEATURES BLUE ---------------
    =============================
*/
.features.features-blue {
    color: #ffffff;

    min-height: 256px;

    background-color: #81b3d2;

    padding-top: 54px;
    padding-left: 15%;
    padding-right: 15%;
}

.features-blue h2 {
    margin-bottom: 7px;
}

.features-blue .number {
    margin-bottom: 25px;
}


/*
    =============================
    FEATURES WHITE --------------
    =============================
*/
.features.features-white {
    min-height: 330px;
    background-color: #ffffff;

    padding-top: 58px;
    padding-left: 15%;
    padding-right: 15%;
}

.features-white img {
    margin-bottom: 24px;
  }

.features-white h2 {
    margin-bottom: 22px;
  }

  /*
    =============================
    FEATURES GREY ---------------
    =============================
*/
.features.features-grey {
    min-height: 256px;
    background-color: #eeeeee;

    padding-top: 48px;
    padding-left: 15%;
    padding-right: 15%;
}

.features-grey h2 {
    margin-bottom: 11px;
  }

.features-grey span {
    margin-bottom: 23px;
}


/*
================================================

FORM-TITLE -------------------------------- toc7

================================================
*/
.form-title {
    min-height: 291px;
    text-align: center;

    padding-top: 57px;
}

.form-title h1 {
    margin-bottom: 32px;
}

.form-title p {
    line-height: 24px;
    margin-bottom: 45px;
}

.form-title .button {
    display: inline-block;
    background-color: #766357;

    color:  #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;

    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 137px;
    padding-right: 137px;
}


/*
================================================

FORM -------------------------------------- toc8

================================================
*/
/*form.search{
    display: none;
}*/
.modal-content {
position: relative;
}

.search{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -284px;

    width: 568px;
    height: 395px;

    background-color: #ffffff;

    padding-top: 55px;
    padding-left: 56px;
    padding-right: 56px;
}

.search .button {
    color:  #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;

    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 197px;
    padding-right: 197px;

    border: none;
    outline: none;
    cursor: pointer;
    background-color: #81b3d2;
}

/*
================================================

MAP --------------------------------------- toc9

================================================
*/

.map {
/*    position: absolute;*/

    width: 100%;
    min-height: 593px;
    background-image: url("../img/map.jpg");
    background-position: center 55%;

    overflow: hidden;
}


/*
================================================

FOOTER ----------------------------------- toc10

================================================
*/
.page-footer .row {
/*    position:relative;
    top: 473px;*/
    min-height: 120px;

    background-color: rgba(249,251,246,0.9);
}

.page-footer .hashtag {
    display:inline-block;
    padding-top: 48px;

    font-weight: bold;
    text-decoration: none;
    color:  #000000;
    font-size: 21px;
    line-height: 26px;
}

.page-footer .social-button {
    padding-top: 13px;

    display:inline-block;
    width: 46px;
    height: 48px;

    margin-right: 2px;
    margin-top: 36px;

    background-color: #81b3d2;

    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    line-height: 20px;
}

.page-footer .copyright-by,
.page-footer .copyright {
    display: inline-block;
    vertical-align: top;
}

.page-footer .copyright-by {
    padding-top: 51px;
    margin-right: 8px;
}

.page-footer .copyright {
    display:inline-block;
    padding-top: 40px;
}


/*
================================================

FILTERS ---------------------------------- toc11

================================================
*/
.filters {
    min-height: 217px;

    background-color: #d7e8f2;
    background-image: url("../img/bcg-filters.jpg");
    background-size: 100%;
    background-position: 0 50%;

    padding-top:29px;
}

.filters fieldset{
    border:0;

    display: block;
    float: left;

    color: #ffffff;

    padding-left: 72px;
}

.filters legend{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    padding-bottom: 20px;
}

.filters label {
    display: block;
    padding-bottom: ;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 26px;
}

.filters fieldset:last-child{
    float: right;
    min-width: 224px;
}


/*
================================================

RANKING ---------------------------------- toc12

================================================
*/
.ranking {
    min-height: 86px;
    font-size: 12px;
    line-height: 18px;

    padding-left: 4%;
    padding-right: 4%;

    border-bottom: 1px solid #e5e5e5;
}

.ranking h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    vertical-align: top;

    margin-right: 52px;
}

.ranking span,
.ranking a {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-top: 37px;
    vertical-align: top;
}

.ranking .rank {
    margin-right: 42px;
}

.ranking .button-rank {
    margin-right: 32px;
}

.button-rank i {
    margin-right: 0;
}


/*
================================================

HOTELS ----------------------------------- toc13

================================================
*/
.hotel-card {
    position:relative;
    border-bottom: 1px solid #e5e5e5;
}

.hotels .hotel-card {
    min-height:150px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 4%;
    padding-right: 4%;
}

.hotel-card .hotel-photo {
    min-width: 135px;
    position: absolute;
}

.hotel-card .hotel-main {
    min-width: 315px;
    padding-left: 175px;
}

.hotel-card .rating {
    min-width: 150px;
    position: absolute;
    right: 0;
}

.hotel-card .hotel-photo,
.hotel-card .hotel-main {
    float: left;
}

.hotel-card .rating {
    float: right;
}

.hotel-main h2 {
    padding-bottom: 12px;
}

  /*НЕ РАБОТАЕТ :( */
.hotel-category span {
    padding-bottom: 17px;
}

.info .type {
    display: inline-block;
    min-width: 110px;
}

.hotel-buttons .button {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 4px;
    padding-bottom: 4px;

    color: #ffffff;
}

.button.button-blue {
    background-color: #81b3d2;
    margin-right: 6px;
}

.button.button-brown {
    background-color: #766357;
}

  /*НЕ РАБОТАЕТ :( */
.stars i {
    text-align:left;
    color: #81b3d2;
    font-size: 19px;
    line-height: 20px;

    margin-bottom: 48px;
}

.rating .score {
    background-color: #f2f2f2;
    color: #666666;

    padding-left: 16px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 9px;
}