/*
======================================
fonts --------------------------- toc1
main style ---------------------- toc2
header -------------------------- toc3
intro --------------------------- toc4
column -------------------------- toc5
features ------------------------ toc6
form-title ---------------------- toc7
form ---------------------------- toc8
map ----------------------------- toc9
footer ------------------------- toc10
======================================
*/

/*
======================================

FONTS --------------------------- toc1

======================================
*/

@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */


/*
======================================

MAIN STYLE ---------------------- toc2

======================================
*/
html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #f2f2f2;

    font-family: "PT Sans", sans-serif;
    color: #000000;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 26px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.cf:after,
.row:after,
.container:after {
    content: "";
    display: table;
    clear: both;
}
/*
======================================

HEADER -------------------------- toc3

======================================
*/
.main-navigation li {
    display: inline-block;
    vertical-align: top;
    width: 20%;

    float:left;
}

.main-navigation a {
    display: block;

    margin: 0;

    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.main-navigation a:not(.logo) {
    padding-top: 15px;
    padding-left: 30%;
    padding-bottom: 17px;
}

.logo img {
    display: block;
    margin: 0 auto;
}


/*
======================================

INTRO --------------------------- toc4

======================================
*/
.intro {
    background-color: #d7e8f2;
    background-image: url("../img/bcg.jpg");
    background-size: 100%;
}

.tagline img {
    height: 352px;
    width: 458px;
    margin: 0 auto;
    margin-bottom: 135px;
}

.subtitle {
    background-color: #ffffff;
}

.subtitle h2 {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    padding-top: 56px;
    padding-bottom: 28px;
}

.subtitle p {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
}


/*
======================================

COLUMN -------------------------- toc5

======================================
*/

.col-one-third,
.col-two-thirds {
    float: left;
}

.col-one-third {
    width: 33.3%;
    text-align: center;
}

.col-two-thirds {
    width: 66.7%;
}


/*
======================================

FEATURES ------------------------ toc6

======================================
*/
.col-two-thirds.photo {
    padding: 0;
    margin: 0;
    min-height: 256px;
}

/*
    =============================
    FEATURES BLUE ---------------
    =============================
*/
.features.features-blue {
    min-height: 256px;
    background-color: #81b3d2;

    padding-top: 50px;
    padding-bottom: 55px;
    padding-left: 17%;
    padding-right: 17%;
}

.features-blue h2,
.features-blue span,
.features-blue p {
    color: #ffffff;
}

.features-blue h2 {
    padding-bottom: 10px;
}

.features-blue span {
    padding-bottom: 23px;
}


/*
    =============================
    FEATURES WHITE --------------
    =============================
*/
.features.features-white {
    min-height: 330px;
    background-color: #ffffff;

    padding-top: 60px;
    padding-left: 17%;
    padding-right: 17%;
}

.features-white h2 {
    padding-top: 30px;
    padding-bottom: 22px;
  }

  /*
    =============================
    FEATURES GREY ---------------
    =============================
*/
.features.features-grey {
    min-height: 256px;
    background-color: #eeeeee;

    padding-top: 48px;
    padding-left: 17%;
    padding-right: 17%;
}

.features-grey h2 {
    padding-bottom: 22px;
  }

.features-grey span {
    padding-bottom: 23px;
}


/*
======================================

FORM-TITLE ---------------------- toc7

======================================
*/
.form-title {
    min-height: 291px;
    text-align: center;
}

.form-title h1 {
    padding-top: 57px;
    padding-bottom: 32px;
}

.form-title p {
    padding-bottom: 43px;
}

.form-title .button {
    display: inline-block;
    background-color: #766357;

    text-decoration: none;
    color:  #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;

    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 145px;
    padding-right: 145px;
}


/*
======================================

FORM ---------------------------- toc9

======================================
*/
form {
    display: none;
}
/*
======================================

MAP ----------------------------- toc9

======================================
*/
.map {
    width: 100%;
    min-height: 470px;
    background-image: url("../img/map.jpg");
    background-position: -250px -135px;
}


/*
======================================

FOOTER -------------------------- toc9

======================================
*/
.page-footer {
    min-height: 120px;
}

.page-footer .hashtag {
    display:inline-block;
    padding-top: 48px;

    font-weight: bold;
    text-decoration: none;
    color:  #000000;
    font-size: 21px;
    line-height: 26px;
}

.page-footer .social-button {
    display:inline-block;

    margin: 0;
    margin-right: 6px;
    margin-top: 36px;
    width: 48px;
    height: 48px;
    background-color: #81b3d2;

    padding-top: 13px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    line-height: 20px;
}

.page-footer .copyright {
    display:inline-block;
    margin-top: 40px;
}