/*
================================================
fonts ------------------------------------- toc1
main style -------------------------------- toc2
header ------------------------------------ toc3
intro ------------------------------------- toc4
column ------------------------------------ toc5
features ---------------------------------- toc6
form-title -------------------------------- toc7
form -------------------------------------- toc8
map --------------------------------------- toc9
footer ----------------------------------- toc10
filters ---------------------------------- toc11
ranking ---------------------------------- toc12
hotels ----------------------------------- toc13
search hotels page ----------------------- toc14
================================================
*/


/*
================================================

FONTS ------------------------------------- toc1

================================================
*/
@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-sedona';
    src: url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
/*  margin-right: .2em;*/
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
/*  margin-left: .2em;*/

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */


/*
================================================

MAIN STYLE -------------------------------- toc2

================================================
*/
html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: #f2f2f2;

    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    text-transform: uppercase;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

fieldset {
    margin: 0;
    padding: 0;
}

input,
button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.row:after,
.container:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
}

.page-wrapper>.container {
    box-shadow: 0 5px 15px rgba(0,1,1,0.2);
}


/*
================================================

HEADER ------------------------------------ toc3

================================================
*/
.main-navigation {
    position: relative;
}

.main-navigation li {
    width: 20%;
    text-align: center;
    float:left;
    min-height: 1px;
}

.main-navigation a {
    display: block;

    margin: 0;

    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.main-navigation .logo {
    padding: 0;
    margin: 0;
    z-index: 100;
    position: absolute;
    left: 50%;
    margin-left: -69px;
}

.main-navigation a {
    padding-top: 14px;
    margin-bottom: 16px;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #cacaca;
}

/*Стилизация.active для Гостиницы*/
.main-navigation .active {
    color: #766357;
}

.main-navigation .active:hover {
    color: #604e43;
}

.main-navigation .active:active {
    color: #766357;
}


/*
================================================

INTRO ------------------------------------- toc4

================================================
*/
.intro {
    position: relative;

    background-color: #d7e8f2;
    background-image: url("../img/bcg.jpg");
    background-size: cover;
    background-position: center 21%;

    text-align: center;

    padding-top: 76px;
}

.intro img {
    margin-bottom: 77px;
    margin-left: 2px;
}

/*Белая маска*/
.intro:after {
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 57px;

    background-color: transparent;
    background-image: url("../img/white-shape.svg");
}

.subtitle {
    padding-top: 59px;

    text-align: center;
    background-color: #ffffff;
    margin-bottom: 49px;
}

.subtitle h2 {
    margin-bottom: 28px;
}


/*
================================================

COLUMN ------------------------------------ toc5

================================================
*/
.col-one-third,
.col-two-thirds {
    float: left;
}

.col-one-third {
    width: 33.333%;
    text-align: center;
}

.col-two-thirds {
    width: 66.666%;
}


/*
================================================

FEATURES ---------------------------------- toc6

================================================
*/
.features .number {
    display: inline-block;
    vertical-align: top;

}

.features .number,
.features p {
    font-style: 14px;
    line-height: 21px;
}

.features p {
    padding-bottom: 15px;
}

/*
    =============================
    PHOTO -----------------------
    =============================
*/
.photo {
    height: 256px;
    overflow: hidden;
    position: relative;
}
.photo img {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50%;
    top: -50%;
    margin: auto;
}

/*
    =============================
    FEATURES BLUE ---------------
    =============================
*/
.features.features-blue {
    color: #ffffff;

    min-height: 256px;

    background-color: #81b3d2;

    padding-top: 54px;
    padding-left: 15%;
    padding-right: 15%;
}

.features-blue .features-title {
    margin-bottom: 9px;
}

.features-blue .number {
    margin-bottom: 21px;
}


/*
    =============================
    FEATURES WHITE --------------
    =============================
*/
.features.features-white {
    min-height: 330px;
    background-color: #ffffff;

    padding-top: 56px;
    padding-left: 15%;
    padding-right: 15%;
}

.features-white .feat-img {
    min-height: 76px;
    position: relative;

    margin-bottom: 28px;
}

.features-white .feat-img:before {
    content: '';
    position: absolute;

    height: 76px;
    width: 76px;
    margin-left: -38px;

    background-color: transparent;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}

.feat-img.feat-house:before {
    background-position: 0 5px;
}

.feat-img.feat-burger:before {
    background-position: 1px -88px;
}

.feat-img.feat-souvenir:before {
    background-position: 6px -183px;
}

.features-white .features-title {
    margin-bottom: 21px;
}

  /*
    =============================
    FEATURES GREY ---------------
    =============================
*/
.features.features-grey {
    min-height: 256px;
    background-color: #eeeeee;

    padding-top: 46px;
    padding-left: 15%;
    padding-right: 15%;
}

.features-grey .features-title {
    margin-bottom: 10px;
  }

.features-grey .number {
    margin-bottom: 22px;
}


/*
================================================

FORM-TITLE -------------------------------- toc7

================================================
*/
.form-title {
    min-height: 205px;
    text-align: center;

    padding-top: 56px;
}

.form-title h1 {
    margin-bottom: 32px;
}

.form-title p {
    line-height: 24px;
    margin-bottom: 43px;
}

.form-title .button {
    width: 568px;
    display: inline-block;
    vertical-align: top;
    background-color: #766357;

    color:  #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;

    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 32px;
    padding-right: 32px;
}

.form-title .button:hover {
    background-color: #604e43;
}

.form-title .button:active {
    background-color: #503e33;
    color: #928a85;
}


/*
================================================

FORM -------------------------------------- toc8

================================================
*/
.search {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -284px;

    padding-top: 55px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 55px;

    width: 568px;
    height: 395px;

    background-color: #ffffff;

    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;

    box-shadow: 0 7px 15px rgba(0,1,1,0.15);
}

.form-row {
    min-height: 38px;
    margin-bottom: 29px;
}

.form-slot-label {
    margin-top: 5.5px;
    width: 112px;
    float: left;
    text-align: left;
}

.form-row input {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    height: 38px;
}

.date-choose {
    position: relative;
    float: right;

    width: 346px;
}

.date-choose .input-date {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
}

.date-choose a {
    cursor: pointer;
    position: absolute;

    display: block;
    top: 0;
    right: 0;
    margin: 0;

    line-height: 38px;
    width: 11.5%;

    text-align: center;
    font-size: 21px;
}

.number-choose {
    width: 114px;
    float: left;
    position: relative;
}

.number-choose:last-child {
    float: right;
}

.number-choose .input-number {
    width: 114px;

    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.number-choose a {
    cursor: pointer;
    position: absolute;

    display: block;
    top: 0;

    line-height: 38px;
    width: 38px;
    text-align: center;
}

.number-choose a:first-child {
    left: 0;
}

.number-choose a:last-child {
    right: 0;
}

.label-children {
    padding-left: 53px;
}

/*Стилизация - инпуты*/
.search .input-date,
.search .input-number {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.search .input-date:hover,
.search .input-number:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}

.search .input-date:focus,
.search .input-number:focus {
    outline: none;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

/*Стилизация - иконочные шрифты*/
.icon-minus,
.icon-plus {
    color: #a9a9a9;
}

.icon-calendar {
    color: #c2c2c2;
}

.icon-minus:hover,
.icon-plus:hover,
.icon-calendar:hover {
    color: #000000;
}

.icon-minus:active,
.icon-plus:active,
.icon-calendar:active {
    color: #81b3d2;
}

/*Стилизация - кнопка "Найти"*/
.search .button {
    width: 100%;

    color:  #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;

    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 19px;
    padding-right: 19px;

    margin-top: 24px;

    border: none;
    outline: none;
    cursor: pointer;
    background-color: #81b3d2;
}

.search .button:hover {
    background-color: #669ec0;
}

.search .button:active {
    background-color: #5496bd;
    color: #94b9d2;
}

/*Для скрипта и анимации*/
.modal-content{
    position: relative;
    animation-name: open;
    animation-duration: 0.7s;
}

.hidden {
    display: none;
}

@keyframes open {
    from {
        transform: scaleY(0) translateY(-100%);
    }
    to {
        transform: scaleY(1) translateY(0);
    }
}


/*
================================================

MAP --------------------------------------- toc9

================================================
*/
.map {
    width: 100%;
    min-height: 589px;
    background-color: #f2f1ef;
    background-image: url("../img/map.jpg");
    background-position: center bottom;
}


/*
================================================

FOOTER ----------------------------------- toc10

================================================
*/
.main-page-footer>.container {
    position:absolute;
    margin-top: -120px;
    width: 100%;
    min-height: 120px;
    background-color: rgba(254,254,254,0.9);
}

.other-page-footer {
    min-height: 120px;
}

/*
    =============================
    HASHTAG ---------------------
    =============================
*/
.page-footer .hashtag {
    display:inline-block;
    vertical-align: top;
    margin-top: 45px;

    font-weight: bold;
    text-decoration: none;
    color:  #000000;
    font-size: 21px;
    line-height: 26px;
}

.page-footer .hashtag:hover {
  color: #81b3d2;
}

.page-footer .hashtag:active {
  color: #cacaca;
}

/*
    =============================
    SOCIAL BUTTON ---------------
    =============================
*/
.page-footer .social-button {
    padding-top: 13px;

    display:inline-block;
    vertical-align: top;

    width: 46px;
    height: 48px;

    margin-right: 2px;
    margin-top: 35px;

    background-color: #81b3d2;

    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    line-height: 20px;
}

.social-button:hover {
      background-color: #669ec0;
}

.social-button:active {
      background-color: #5496bd;
      color: #94b9d2;
}

/*
    =============================
    COPYRIGHT -------------------
    =============================
*/
.page-footer .copyright-by {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-top: 46px;
    right: 58px;

    font-size: 14px;
    line-height: 26px;
}

.page-footer .copyright {
    position: relative;

    display: inline-block;
    vertical-align: top;
}

.page-footer .copyright:after {
    position: absolute;
    content: "";

    top: 40px;
    left: -54px;

    width: 112px;
    height: 39px;

    background-image: url("../img/sprite.png");
    background-position: 0 -278px;
}

.copyright:hover:after {
    background-position: 0 -326px;
}

.copyright:active:after {
    background-position: 0 -373px;
}


/*
================================================

FILTERS ---------------------------------- toc11

================================================
*/
.filters {
    position: relative;
    min-height: 217px;

    background-color: #7496ba;
    background-image: url("../img/bcg-filters.jpg");
    background-size: 100%;
    background-position: 0 50%;

    padding-top:27px;
    padding-right: 6%;
    padding-left: 6%;
}

.filters fieldset {
    display: inline-block;
    vertical-align: top;
    border:0;
    color: #ffffff;
}

.filters .options {
    margin-right: 10.5%;
}

.filters .cost {
    width: 26.3%;
    position: absolute;
    right: 7%;
    min-width: 224px;
}


.filters legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    margin-bottom: 25px;
}

.cost {
    text-align: center;
}

.cost legend {
    text-align: left;
    margin-bottom: 10px;
}

.checkbox {
    position: relative;
    padding-left: 39px;
}

.checkbox label {
    display: block;
    cursor: pointer;

    font-size: 14px;
    line-height: 21px;

    padding-bottom: 25px;
}

.checkbox input {
    display: none;
    z-index: -1;

    position: absolute;
    opacity: 0;
}

.checkbox label:before {
    position: absolute;

    content: '\2610';

    font-size:26px;
    font-family: 'symbols-sedona';

    left: 0;
    margin: 0;
}

.checkbox:checked + label:before {
    content: '\2611';
}

.checkbox + label,
.checkbox + label:before {
    color: #b5b5b5;
}

.checkbox + label:hover,
.checkbox + label:hover:before {
    color: #ffffff;
}

.checkbox:disabled + label,
.checkbox:disabled + label:before {
    color: #6a6a6a;
    cursor: default;
}

/*
    =============================
    RANGE FILTER ----------------
    =============================
*/
.cost-controls {
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 3px;
    margin-bottom: 20px;
}

.cost-controls input {
    max-width: 50%;
    background-color: transparent;
}

.cost-controls label {
    font-size: 14px;
    line-height: 21px;

    display: inline-block;
    vertical-align: top;
    width: 45%;

    padding-top: 6px;
    padding-bottom: 6px;

    text-align: right;
}

.cost-controls:before{
    position: absolute;
    content: '';

    width: 2px;
    height: 22px;

    top: 5px;
    left: 50%;
    margin-left: -1px;

    background-color: #ffffff;
}

.range-controls {
    position: relative;
    height: 2px;

    margin-top: 20px;
    margin-bottom: 20px;

    background: rgba(255,255,255,0.3);
}

.scale {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0%;
    right: 15%;

    height: 2px;

    background-color: #ffffff;
}

.toggle {
    position: absolute;
    top: -8px;

    width:4px;
    height:4px;

    border: 8px solid #ffffff;
    border-radius: 50%;

    padding: 2px;
    background-color: #ababab;
    cursor: pointer;

    box-shadow: 0 2px 0 0 rgba(0,1,1,0.14);
}

.toggle:hover {
    background-color: #1c4f80;
}

.min-toggle {
    left: 0%;
}

.max-toggle {
    right: 14%;
}

.range-button {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;

    margin-top: 11px;

    background-color: transparent;

    border: 2px solid #ffffff;
    border-radius: 3px;
}

.range-button:hover {
    color: #000000;
    background-color: #ffffff;
}

.range-button:active {
    color: #b5b5b5;
    background-color: #ffffff;
}


/*
================================================

RANKING ---------------------------------- toc12

================================================
*/
.ranking {
    position: relative;

    min-height: 86px;
    font-size: 12px;
    line-height: 18px;

    padding-left: 6%;
    padding-right: 6%;
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: 1px solid #e5e5e5;
}

.ranking h2 {
    display: inline-block;

    margin: 0;
    padding: 0;
    vertical-align: top;

    margin-right: 45px;
}

.sort {
    display: inline-block;
    vertical-align: top;

    margin-top: 6px;
}

.sort .rank,
.sort .button-rank {
    display: inline;
    vertical-align: top;

    margin: 0;
    padding: 0;
}

.sort .rank {
    margin-right: 36px;
}

.sort .button-rank {
    margin-right: 29px;
}

.button-rank.active {
    text-decoration: none;
    color: #81b3d2;
}

.button-rank {
    border-bottom: 1px dotted #81b3d2;
    text-decoration: none;
    color: #cccccc;
}

.button-rank:hover {
    color: #81b3d2;
}

.button-rank:active {
    border-bottom: none;
    color: #000000;
}

/*
    =============================
    ARROWS ----------------------
    =============================
*/
.ranking .arrows {
    display: inline-block;
    vertical-align: top;

    float: right;
    margin-top: 2px;
}

.arrows .button-arrow {
    display: inline-block;
    vertical-align: middle;

    text-decoration: none;
    color: #cccccc;
    font-size: 23px;
    line-height: 20px;
}

.button-arrow.active {
    color: #81b3d2;
}

.button-arrow:hover {
    color: #000000;
}

.button-arrow:active {
    color: #81b3d2;
}


/*
================================================

HOTELS ----------------------------------- toc13

================================================
*/
.hotels .hotel-card {
    position:relative;

    border-bottom: 1px solid #e5e5e5;

    min-height:150px;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 6%;
    padding-right: 6%;
}

/*
    =============================
    HOTEL PHOTO -----------------
    =============================
*/
.hotel-card .hotel-photo {
    display: inline-block;
    vertical-align: top;

    width: 135px;
    height: 90px;

    margin-right: 26px;
}

/*
    =============================
    HOTEL MAIN ------------------
    =============================
*/
.hotel-card .hotel-main {
    display: inline-block;
    vertical-align: top;
}

.hotel-main h2 {
    cursor: pointer;
    margin-top: -4px;
}

.hotel-main h2:hover {
    color: #81b3d2;
}

.hotel-main h2:active {
    color: #cacaca;
}

.hotel-category .info {
    margin-top: 7px;

    display: inline-block;
    vertical-align: top;

    font-size: 14px;
    line-height: 21px;

    margin-bottom: 13px;
}

.info.type {
    display: inline-block;
    vertical-align: top;

    min-width: 111px;
}


  /*
    =============================
    HOTEL BUTTONS ---------------
    =============================
*/
.hotel-buttons .button {
    display: inline-block;
    vertical-align: top;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 3px;
    padding-bottom: 3px;

    color: #ffffff;

    font-size: 14px;
    line-height: 21px;
}

/*.button-blue*/
.button.button-blue {
    background-color: #81b3d2;
    margin-right: 2px;
}

.button.button-blue:hover {
    background-color: #669ec0;
}

.button.button-blue:active {
    background-color: #5496bd;
    color: #94b9d2;
}

/*.button-brown*/
.button.button-brown {
    background-color: #766357;
}

.button.button-brown:hover {
    background-color: #604e43;
}

.button.button-brown:active {
    background-color: #503e33;
    color: #928a85;
}


/*
    =============================
    HOTEL RATING ----------------
    =============================
*/
.hotel-card .hotel-rating {
    display: inline-block;
    vertical-align: top;
    text-align: right;

    position: absolute;
    top: 30px;
    padding-right: 5px;
    right: 0;
    min-width: 150px;
    right: 6.1%;
}

.hotel-rating .stars {
    margin-top: -3px;
    color: #81b3d2;
    font-size: 19px;
    line-height: 20px;

    margin-bottom: 47px;
}

.hotel-rating .score {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 21px;

    background-color: #f2f2f2;
    color: #666666;

    padding-left: 14px;
    padding-right: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}


/*
================================================

SEARCH HOTELS PAGE ----------------------- toc14

================================================
*/
.search-hotels-page {
    position: relative;
    min-height: 700px;

    background-color: #f2f1ef;
    background-image: url("../img/map.jpg");
    background-position: center center;
    background-size: cover;

}

.optional-box {
    position: relative;
}

.brown-title {
    color: #ffffff;
    width: 568px;
    display: inline-block;
    background-color: #766357;
    vertical-align: top;
}

.search-hotels-title {
    padding-top: 20px;
    text-align: center;
    background-color: rgba(254,254,254,0.9);
}

.search-hotels-title h2 {
    margin-bottom: 22px;
    margin-top: 22px;
}

.search-hotels-title p {
    margin-bottom: 12px;
}
